{% extends "layout.html" %} {% block body %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
<div class="container">
    <div class="block1">
        <h1>Smart Highway System </h1>
        <img src="/static/cityscape.png" class="img-responsive" height="200" width="200">
        <h1>Road Segment 1:
            <meter value="{{count[0]}}" min="0" max="10" low="1" high="6"></meter> Speed of last car :<div id="speed1">0</div> m/s</h1>
        <h1>Road Segment 2:
            <meter value="{{count[1]}}" min="0" max="10" low="1" high="6"></meter> Speed of last car : {{speed[1]}} m/s</h1>
        <h1>Road Segment 3:
            <meter value="{{count[2]}}" min="0" max="10" low="1" high="6"></meter> Speed of last car : {{speed[2]}} m/s</h1>
    </div>
</div>
<script type="text/javascript">
    setInterval(function () {
        $("#speed1").load("/speed1");
        console.log("hello")
    }, 1000);
</script>{% endblock %}